@import "../general/colors.scss";

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .ranklines_container{
        border: 2px solid red;
        width: 95%;
        overflow: scroll;
        .rankline{
            display: flex;
            width: 100%;
            .rankline_number{
                border: 2px solid pink;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .rankline_team_name{
                border: 2px solid pink;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .rankline_team_points{
                border: 2px solid pink;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .rankline_played_match{
                border: 2px solid pink;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .rankline_win_match{
                border: 2px solid pink;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .rankline_loose_match{
                border: 2px solid pink;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .rankline_drawn_match{
                border: 2px solid pink;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .rankline_goal_for{
                border: 2px solid pink;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .rankline_goal_against{
                border: 2px solid pink;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .rankline_goal_difference{
                border: 2px solid pink;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}