@import '../general/colors.scss';

.match_line_container{
    border: 2px solid black;
    width: 90%;
    margin: 10px;
    .home_team_container{
        display: flex;
        align-items: center;
        .home_team_logo_container{
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-width: 100%;
                max-height: 100% ;
            }
        }
    }
    .teams_separator{
        display: none;
    }
    .away_team_container{
        display: flex;
        align-items: center;
        .away_team_logo_container{
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-width: 100%;
                max-height: 100% ;
            }
        }
    }
}